@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: #121212;
    margin: 0;
    padding: 0;
  }
  body:after {
    position: fixed;
    top: -150px;
    right: -50px;
    bottom: 0;
    content: '';
    width: 400px;
    height: 600px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    z-index: -1;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  body:before {
    position: fixed;
    top: 500px;
    left: -100px;
    bottom: 0;
    content: '';
    width: 400px;
    height: 400px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    z-index: -1;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg); }
  article {
    width: 100%;
    min-height: 100vh;
  }
  article.fullHeight {
    height: 100vh;
  }
  article > section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section--colm {
      flex-direction: column;
      width: 100%;
      max-width: 980px;
      margin: auto;
      text-align: center;
      padding: 30px 20px;
  }
  section p {
      margin-bottom: 32px;
  }
  button {
    border-radius: 4px;
    border: 0;
    background: #4F52D4;
    box-shadow: 0 2px 4px 0 rgba(83,75,220,0.30);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    height: 48px;
    line-height: 1;
    padding: 0 32px;
    text-transform: uppercase;
  }
  section.content {
    width: 55%;
  }
  section.icon {
    width: 45%;
  }
  section > p {
    margin: 0;
    padding: 20px;
    font-size: 22px;
  }
  section > p strong,
  section > p a {
    color: #4F52D4;
  }
  section > h1 {
    font-size: 3rem;
  }
  section > p i {
    font-size: 16px;
  }
  section.icon > ul > li {
    list-style: none;
    margin: 5px;
  }
  section.icon button {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    border-width: 2px;
    border-color: white;
    color: white;
    opacity: 0.7;
    outline: none;
    font-size: 2rem;
  }
  #sign-in-button > img {
    height: 192px;
  }
  #first-of-path-report,
  #middle-of-path-report,
  #last-of-path-report {
    font-size: 20px;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  .ga--list {
      width: 100%;
      max-width: 400px;
      display: inline-block;
      margin-bottom: 32px;
      border-radius: 4px;
      box-shadow: 0 0px 40px 0 rgba(83,75,220,0.50);
  }

  .list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      margin: 0;
      padding: 0;
      margin-top: 32px;
      margin-bottom: 100px;
      width: 100%;
  }

  .list li {
        flex: 0 0 100%;
        padding: 0 8px;
        margin-bottom: 16px;
  }

  .list li button {
      width: 100%;
      font-size: 14px;
  }

  .graph {
      width: 100%;
      /* height: 600px; */
  }

  .title {
    border: 2px solid white;
    padding: 10px;
  }

  @media screen and (min-width: 768px) {
    .list li {
        flex: 0 0 33%;
    }
  }

  .lds-ring {
    width: 64px;
    height: 64px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    display: inline-block;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #4F52D4;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4F52D4 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    color: black;
    word-wrap: break-word;
  }
  .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }
  .close-button:hover {
    background-color: darkgray;
  }
  .show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }
  #modal-message {
    color: #ff5151;
  }
